main {
    padding: clamp(6rem, 12vw, 10rem) 5%;

    .contact-section {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }

    .left {
        gap: 1rem;

        .eyebrow {
            color: var(--primary);
            font-size: clamp(1rem, 2vw, 1.5rem);
            margin-bottom: 3rem;
        }

        .title {
            color: var(--secondary);
            max-width: 15ch;
        }

        .subline {
            line-height: 1.3rem;
            font-weight: var(--weight-md);
            opacity: .8;
            max-width: 40ch;
        }


    }

    form {
        gap: 1rem;

        > * {
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: .5rem;

            input,
            textarea {
                width: 100%;
                padding: .6rem 1rem;
                font-size: 1rem;
                font-weight: var(--weight-sm);
                border: 1px solid var(--primary);
                border-radius: 1rem;
                resize: none;
                font-weight: var(--weight-md);
                color: var(--text);
            }

            label {
                font-size: 1rem;
                font-weight: var(--weight-md);
            }

        }

        .titles {
            font-size: clamp(1.3rem, 3vw, 2rem);
            color: var(--primary);
        }

        input[type="submit"] {
            width: 100%;
            padding: 1rem;
            font-size: 1rem;
            font-weight: var(--weight-md);
            border: none;
            outline: none;
            background-color: var(--primary);
            color: white;
            border-radius: 1rem;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            opacity: .8;
        }
    }
}